<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <style>
    body{
    background-image: url('https://images.pexels.com/photos/1103970/pexels-photo-1103970.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  
   

}
  </style>
</head>

<body >
  <!-- <div class="container">
    <div class="row" style="padding:10em;">
      <div class="col-lx-6 text-center" >
        <img src="/images/wu.png" alt="" width="220px" height="auto">
      </div>
        <div class="col-xl-6 form-group"  style="padding:1em;">
          <form action="" method="POST" >
            <label for="">ชื่อผู้ใช้</label>
            <input type="text" name="username" id="" class="form-control" >
            <label for="">รหัสผ่าน</label>
            <input type="password" name="password" id="" class="form-control">
            <div></div>
            <button class="btn btn-success" type="submit">เข้าสู่ระบบ</button>
            <button class="btn btn-danger" type="reset">ยกเลิก</button>
          </form>
        </div>
          <a href="./trolley/main">จัดยา</a>
          <a href="./Nurse/main">จ่ายยา</a> 
    </div> -->

    <div class="container" style="margin-top:100px;"> 
    <div class="card" style="width: 50%;margin-left: auto;margin-right: auto;">
      <div class="card-header">
        <img src="/images/wu.png"  width="220px" style="display: block;margin-left: auto;margin-right: auto;" >
      </div>
      <div class="card-body">
        <form action="" method="POST">
          <div class="form-group">
            <label for="">ชื่อผู้ใช้</label>
            <input type="text" class="form-control" name="userName">
          </div>
          <div class="form-group">
            <label for="">รหัสผ่าน</label>
            <input type="password"  class="form-control" name="password">
          </div>
          <div class="form-group">
            <input type="submit" class="btn btn-info" value="เข้าสู่ระบบ">
            
          </div>
          
        </form>
      </div>
    </div>
    </div>
</body>

</html>