<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
</head>

<body>
  <div class="container">
    <div class="row" style="padding:10em;">
      <div class="col-lx-6 text-center" >
        <img src="/images/wu.png" alt="" width="220px" height="auto">
      </div>
        <div class="col-xl-6 form-group"  style="padding:1em;">
          <form action="" method="POST" >
            <label for="">ชื่อผู้ใช้</label>
            <input type="text" name="username" id="" class="form-control" >
            <label for="">รหัสผ่าน</label>
            <input type="password" name="password" id="" class="form-control">
            <div></div>
            <button class="btn btn-success" type="submit">เข้าสู่ระบบ</button>
            <button class="btn btn-danger" type="reset">ยกเลิก</button>
          </form>
        </div>
          <a href="./trolley/main">จัดยา</a>
          <a href="./Nurse/main">จ่ายยา</a> 
</body>

</html>