 <!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>หน้าหลักพยาบาล</title>
</head>

<body onload="startTime()">

  <%- include ../templetes/templete2.ejs %>
  <div class="container">
    <h5>รายการคืนยา</h5>
    <div class="row ">
      <div class="col-6">
        <div class="row card-body m-1">
          <!--รูปรถเข็น-->
          <div class="col-mb-4 col-xl-4 col-md-4 ">

            <img src="/images/g1.jpg" alt="" class="card-img-top">

          </div>
          <div class="col-mb-8 col-xl-8 col-md-8 card">
            <table class="card-body">
              <tbody>
                <tr>
                  <th scope="row">รถเข็นยา</th>
                  <td>แผนกอายุรกรรม</td>
                </tr>
                <tr>
                  <th scope="row">ผู้รับผิดชอบ</th>
                  <td>คิดดี ทำดี</td>
                </tr>
                <tr>
                  <th scope="row">ตำแหน่ง</th>
                  <td>พยาบาลวิชาชีพชำนาญการ</td>
                </tr>
                <tr>
                  <th scope="row">เบอร์โทรศัพท์</th>
                  <td>099-999-9999</td>
                </tr>
                <tr>
                  <th scope="row">สถานะ</th>
                  <td>ว่าง</td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
        <!--รูปรถเข็นและรายละเอียด-->

        <!--ชั้นยา-->
        <div class="row card m-1">
          <div class="col-xl-12 card-body">
            <div class="row m-1 ">
              <div class="col-2"><button class="btn btn-second" ><a href="#"><img src="/images/drawerp.jpg" alt="" style="width: 3rem;"></button></a> </div>
              <div class="col-2"><button class="btn btn-second"><img src="/images/drawerp.jpg" alt="" style="width: 3rem;"></button> </div>
              <div class="col-2"><button class="btn btn-second"><img src="/images/drawerp.jpg" alt="" style="width: 3rem;"></button> </div>
              <div class="col-2"><button class="btn btn-second"><img src="/images/drawerp.jpg" alt="" style="width: 3rem;"></button> </div>
              <div class="col-2"><button class="btn btn-second"><img src="/images/drawerp.jpg" alt="" style="width: 3rem;"></button> </div>
              <div class="col-2"><button class="btn btn-second"><img src="/images/drawerp.jpg" alt="" style="width: 3rem;"></button> </div>
              

            </div>
            <div class="row m-1">
              <div class="col-2"><button class="btn btn-second"><img src="/images/drawerp.jpg" alt="" style="width: 3rem;"></button> </div>
              <div class="col-2"><button class="btn btn-second"><img src="/images/drawerp.jpg" alt="" style="width: 3rem;"></button> </div>
              <div class="col-2"><button class="btn btn-second"><img src="/images/drawerp.jpg" alt="" style="width: 3rem;"></button> </div>
              <div class="col-2"><button class="btn btn-second"><img src="/images/drawerp.jpg" alt="" style="width: 3rem;"></button> </div>
              <div class="col-2"><button class="btn btn-second"><img src="/images/drawerp.jpg" alt="" style="width: 3rem;"></button> </div>
              <div class="col-2"><button class="btn btn-second"><img src="/images/drawerp.jpg" alt="" style="width: 3rem;"></button> </div>


            </div>
         
          
           
          </div>
        </div>



      </div>
      <div class="col-6">
        <div class="row card-body">
          <!--รูปรถเข็น-->
          <div class="col-mb-4 col-xl-4 col-md-4 ">

            <img src="/images/user.jpg" alt="" class="card-img-top">

          </div>
          <div class="col-mb-8 col-xl-8 col-md-8 card">
            <table class="card-body">
              <tbody>
                <tr>
                  <th scope="row">รหัสHN</th>
                  <td>300000</td>
                </tr>
                <tr>
                  <th scope="row">ชื่อผู้ป่วย</th>
                  <td>ฐาปกรณ์ ขรัวทองเขียว</td>
                </tr>
                <tr>
                  <th scope="row">ลิ้นชัก</th>
                  <td>DH2</td>
                </tr>
                <tr>
                  <th scope="row">เตียง</th>
                  <td>A/1</td>
                </tr>
                <tr>
                  <th scope="row">สถานะ</th>
                  <td>ว่าง</td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
        <div class="card-body ">
          <h3><a class="btn btn-primary float-right" href="">บันทึก</a></h3>
        </div>
        <div class="col-xl-12 card border-0" >
          <table class="table " >
            <thead>
              <th>#</th>
              <th>รหัสยา</th>
              <th>ชื่อยา</th>
              <th>ชื่อมื้อยา</th>
              <th>ช่องลิ้นชักยา</th>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>N000110</td>
                <td>แก้ปวด/ลดอักเสบ </td>
                <td>ก่อนเช้า</td>
                <td>CH1</td>
              </tr>
              <tr>
                <td>1</td>
                <td>N000110</td>
                <td>แก้ปวด/ลดอักเสบ </td>
                <td>ก่อนเช้า</td>
                <td>CH1</td>
              </tr>
              <tr>
                <td>1</td>
                <td>N000110</td>
                <td>แก้ปวด/ลดอักเสบ </td>
                <td>ก่อนเช้า</td>
                <td>CH1</td>
              </tr>
              <tr>
                <td>1</td>
                <td>N000110</td>
                <td>แก้ปวด/ลดอักเสบ </td>
                <td>ก่อนเช้า</td>
                <td>CH1</td>
              </tr>
             
          
            </tbody>
          </table>
          
      </div>
      </div>
       
     
  
    </div>



  </div>
  </div>
  </div>
  </div>
</body>

</html>