<% include ../material/css %>
<!-- navbar-->
<nav class="navbar navbar-fixed-top navbar-inverse navbar-dark bg-primary " role="navigation">
  <!--navbar settings-->
  <div class="container-fluid">
      <div class="navbar-header">

     
              <a class="navbar-brand">
                รถเข็นจ่ายยาอัจฉริยะ
              </a>
         
      </div>

          <div class="nav navbar-nav navbar-right">
            <a class="dropdown-item" href="/trolley/logout" onclick="return confirm('คุณต้องการออกจากระบบหรือไม่?')">ออกจากระบบ</a>
          </div>

  </div>
</nav>