<% include ../material/css %>
<!-- navbar-->
<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="/trolley/main">รถเข็นจ่ายยาอัจฉริยะ</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            เมนูการใช้งาน
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="/trolley/logout" onclick="return confirm('คุณต้องการออกจากระบบหรือไม่?')">ออกจากระบบ</a>
          </div>
        </div>
      </li>
     
    </ul>
  </div>
</nav> -->

<!-- navbar-->
<nav class="navbar navbar-fixed-top navbar-inverse navbar-dark bg-primary " role="navigation">
  <!--navbar settings-->
  <div class="container-fluid">
      <div class="navbar-header">

     
              <a class="navbar-brand">
                รถเข็นจ่ายยาอัจฉริยะ
              </a>
         
      </div>

          <div class="nav navbar-nav navbar-right">
            <a class="dropdown-item" href="/trolley/logout" onclick="return confirm('คุณต้องการออกจากระบบหรือไม่?')">ออกจากระบบ</a>
          </div>

  </div>
</nav>
