body{
    background-image: url('https://image.freepik.com/free-photo/blurred-interior-hospital-clinical-with-people-abstract-medical-background_1484-1309.jpg');
    width: 50%;
    /* background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top center;
    height: 100vh; */
   

}
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");